.slider {
    display: flex;
    overflow: hidden;
    margin: 20px 0;
}
.slider .slide img {
    width: 100%;
    height: auto;
}
.kiemelt-ajanlatok {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.kiemelt-ajanlatok h2 {
    text-align: center;
    color: #ff5722;
}
.ajanlatok {
    display: flex;
    justify-content: space-around;
}
.ajanlat {
    text-align: center;
    width: 30%;
}
.ajanlat img {
    width: 100%;
    border-radius: 8px;
}
.ajanlat h3 {
    margin: 10px 0;
    color: #333;
}
.bemutatkozas {
    padding: 20px;
    background-color: #fff;
    width: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bemutatkozas h2 {
    text-align: center;
    color: #ff5722;
}

.bemutatkozoDiv{
    text-align: center;
    padding: 20px;
    width: 600px;
    height: 150px;
    background-color:#f1f0f0e3;
    border: 1px solid rgb(204, 202, 202);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}
