.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 0 20px 100px;
    width: 90%;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.slider .carousel-item img {
    border-radius: 10px;
    object-position: center;
}



.kiemelt-ajanlatok {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.kiemelt-ajanlatok h2 {
    text-align: center;
    color: #ff5722;
}
.ajanlatok {
    display: flex;
    justify-content: space-around;
}
.ajanlat {
    text-align: center;
    width: 33%;
    margin: 5px;
}
.ajanlat img {
    width: 100%;
    border-radius: 8px;
}
.ajanlat h3 {
    margin: 10px 0;
    color: #333;
}



.bemutatkozas {
    padding: 20px;
    background-color: #fff;
    width: auto;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}
.bemutatkozas h2 {
    text-align: center;
    color: #ff5722;
}
.bemutatkozoDiv{
    text-align: center;
    padding: 20px;
    width: 600px;
    height: 250px;
    background-color:#f1f0f0e3;
    border: 1px solid rgb(204, 202, 202);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
