body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}

header {
    grid-column: 1/5;
    grid-row: 1/2;
}

.insideNavbar {
    grid-column: 1/5;
    grid-row: 2/3; 
    background-color: #c5641f;
}

.insideNavbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 10px;
    color: white;
}

main {
    flex-wrap: wrap;
}

main .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-items: center;
}

main .container .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .container .cards img {
    height: 100%;
    width: 100%;
}

legend {
    margin-left: 20px;
}

.hamburgers {
    grid-column: 1/5;
    grid-row: 3/4;
}

.soups {
    grid-column: 1/5;
    grid-row: 4/5;
}

.salads {
    grid-column: 1/5;
    grid-row: 5/6;
}

.pastas {
    grid-column: 1/5;
    grid-row: 6/7;
}

.desserts {
    grid-column: 1/5;
    grid-row: 7/8;
}

.drinks {
    grid-column: 1/5;
    grid-row: 8/9;
}

.drinks2 {
    grid-column: 1/5;
    grid-row: 9/10;
}

footer {
    grid-column: 1/5;
    grid-row: 10/11;
}

/* Reszponzív beállítások */
@media (min-width: 768px) and (max-width: 1023px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet nézet (max-width: 1024px) */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Két oszlopos elrendezés tableten */
        gap: 15px; /* Távolság az elemek között */
    }
}

/* 1 oszlop kis képernyőn (mobil) */
@media (max-width: 767px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product img {
        max-height: 180px;
    }

    .kosarhoz {
        font-size: 0.9rem;
    }
}

/* Mobil nézet (max-width: 768px) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Egy oszlopos elrendezés telefonon */
        gap: 10px; /* Kisebb távolság az elemek között */
    }
}