.insideNavbar {
    background-color: #c5641f;
    margin-top: 10px;
}

.insideNavbar nav {
    display: flex; /* Flexbox elrendezés */
    justify-content: space-around; /* Vízszintes elosztás */
    align-items: center; /* Függőleges középre igazítás */
    padding: 20px;
    color: white;
    flex-wrap: wrap; /* Engedélyezi az elemek törését */
}

main {
    display: flex; /* Flexbox elrendezés */
    flex-direction: column; /* A termékfajták egymás alá kerülnek */
    gap: 40px; /* Távolság a termékfajták között */
    padding: 20px;
}

legend {
    text-align: center;
}

main .container {
    display: flex; /* Flexbox elrendezés a termékekhez */
    flex-wrap: wrap; /* Engedélyezi az elemek törését */
    justify-content: center; /* Középre igazítja az elemeket */
    gap: 20px; /* Távolság az elemek között */
    width: 100%; /* Teljes szélesség */
}

main .container .cards {
    flex: 1 1 calc(33.333% - 20px); /* Alapértelmezés szerint 3 oszlop */
    max-width: calc(33.333% - 20px); /* Maximális szélesség 3 oszlophoz */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

