.profile_container{
    justify-items: center;
    align-items: center;
    
}
.profil_image .images img{
    width: 20rem;
}
.user_details th, td{
padding: 1rem
}
.user_details a{
    padding: .5rem;
    border:1px solid black;
    border-radius: 10px;

}
.user_details .update{
    background-color: green;
}
.user_details .logout{
    background-color: red;
}